<h1> GRAPH 3</h1>
<%= 
line_chart [{:name=> params[:genre1], :data=>Home.query3(params[:genre1], params[:year_lower], params[:year_upper], params[:ave_rating])},
{:name=> params[:genre2], :data=>Home.query3(params[:genre2], params[:year_lower], params[:year_upper], params[:ave_rating])}]
%> 