<h1> GRAPH 4</h1>
<%= 
line_chart [{:name=> params[:lang1], :data=>Home.query4(params[:lang1], params[:year_lower])},
{:name=> params[:lang2], :data=>Home.query4(params[:lang2], params[:year_lower])}]
%> 