<h1> GRAPH 5</h1>
<%= 
line_chart [{:name=> params[:genre1], :data=>Home.query5(params[:genre1], params[:genreComp], params[:year_lower], params[:year_upper])},
{:name=> params[:genre2], :data=>Home.query5(params[:genre2], params[:genreComp], params[:year_lower], params[:year_upper])}]
%> 