<h1> GRAPH 4</h1>
<%= 
line_chart [{:name=> params[:genre1], :data=>Home.query4(params[:genre1], params[:year_lower], params[:year_upper], params[:ave_rating])},
{:name=> params[:genre2], :data=>Home.query4(params[:genre2], params[:year_lower], params[:year_upper], params[:ave_rating])}]
%> 