<img src="/assets/booksmart.png" width="800" height="750" alt="booksmart" class="center"/>

<%# <form action="/home/index">
    <input type="submit" value="Go to forms" class="center" />
</form> %>

<form action="/home/index">
    <button class="button buttonOrange">Go to forms</button>
</form>
