<div id="<%= dom_id write %>">
  <p>
    <strong>Book:</strong>
    <%= write.book_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= write.author_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= write.role %>
  </p>

</div>
