<p style="color: green"><%= notice %></p>

<h1>Writes</h1>

<div id="writes">
  <% @writes.each do |write| %>
    <%= render write %>
    <p>
      <%= link_to "Show this write", write %>
    </p>
  <% end %>
</div>

<%= link_to "New write", new_write_path %>
